@import '../../index.module.scss';

.main_wrapper {
	@include flex(column);
	background-color: $primary_colour;
	height: 100%;

	h1 {
		color: $text_colour;
		margin-bottom: 2rem;
		font-size: 3rem;
	}

	p {
		color: $accent_colour;
		margin-bottom: 3rem;
		font-size: 1.5rem;
	}

	&_form {
		background-color: $primary_colour-dark;
		width: 35%;
		padding: 2rem;
		min-width: 30rem;

		span {
			color: $text_colour;
		}

		a {
			color: $accent_colour;
		}

		button {
			font-size: 1.2rem;
			align-self: center;
			margin: 1rem 0rem;
		}
	}
}
